.paragraph {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 1;
  padding: 50px;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 15vh auto;
  justify-content: center;
}

.word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}

.shadow {
  position: absolute;
  opacity: 20%;
}