.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin: 10vh 0;
  gap: 16px;
}

@media (min-width: 768px) {
  .main {
    padding: 0 32px;
    margin: 12vh 0;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 0 60px;
    margin: 15vh 0;
  }
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.title {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: clamp(2rem, 10vw, 8rem);
  line-height: 0.9;
  text-align: center;
}

.title span {
  color: var(--color-primary);
}

@media (min-width: 1024px) {
  .title {
    font-size: clamp(3rem, 9vw, 12rem);
  }
}
