.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(4rem, 8vw, 10rem) 0 clamp(8rem, 12vw, 20rem) 0;
}

.gallery {
  width: 100%;
  max-width: 1200px;
}

/* -------- Viewport breakpoints -------- */
@media (min-width: 768px) {
  .gallery {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .gallery {
    width: 70%;
  }
}
